.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.a { background-color:#505050;
       height: 80px; 
       border-top: 1px solid;
       text-align: right;
       color: white;   
    }

.b { background-color:#D4D4D2;
       height: 80px; 
       border-right:none;
       text-align: center;
}

.x{border-right: 1px solid;
  border-bottom: 1px solid;
  border-color:#505050;
  height: 80px;
}

#h { background-color:#FF9500;
   height: 80px; 
   color: white;
   border-bottom:1px solid;
    border-color:#505050;
    border-right: none;
}
